// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "signup_form";

// For the Font post (2014-09-11-how-to-choose-a-great-font)
.font-example {
  font-size: 2em;
  margin-left: 50px;
  margin-bottom: 20px;
}

.font-example.sm {
  font-size: 1em;
}

.font-example.med {
  font-size: 1.5em;
}

.get-guide-button,
.get-guide-button:hover,
.get-guide-button:visited {
  background-color: #5DA423;
  border: 1px solid #396516;
  width: 240px;
  border: 1px solid #1E728C;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  font-family: Helvetica, sans-serif;
}

.about-image-of-me {
  float: left;
  margin-right: 1.2em;
}

.palette {
  background: #fff;
  border: 1px solid #222;
  display: inline-block;
  text-align: center;
  height: 44px;
  padding: 4px 4px 0 4px;

  .block {
    width: 40px;
    height: 40px;
    border: 0;
    display: inline-block;
  }
}
